# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
.vs/Points/v15/.suo
bin/x64/Debug/AppX/vs.appxrecipe
*.exe
bin/x64/Debug/AppX/entrypoint/Points.exe
*.exe
.vs/Points/v15/Server/sqlite3/db.lock
*.ide
.vs/Points/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
*.cache
obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
obj/ARM/Debug/XamlSaveStateFile.xml
